body{
    margin-top: 50px;
    text-align: center;
    background-color: #12091d;
}

#canvas2{
    justify-content:center ;
    position: absolute;

}

.nav-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color:rgb(0, 0, 0);
    margin: 8px;
    cursor: pointer;
}

.nav-button i {
    color: #a178e2;
}

.pontuacao{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.pontosObtidos{
    color: #d4ac26;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    position: absolute;
    font-size: 20px;
    margin-left: -905px;
    margin-top: -575px;
}

.inimigosMortos{
    color: #d4ac26;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    position: absolute;
    font-size: 20px;
    margin-left: -905px;
    margin-top: -540px;
}
#nivel{
    position: absolute;
    color: #bb9c11;
    -webkit-text-stroke: 1px rgb(204, 148, 26);
    font-size: 18px;
    margin-top: -598px;
    margin-left: -905px;
    
}

.overlay{
    width: 0%;
    height: 100%;
    background-color: black;
    z-index: 9;
    position:fixed;
    left: 0;
    top: 0;
    overflow-x: hidden ; 
    transition: all 0.5s;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.overlay a{ 
    margin-top: 2%;
    text-decoration: none;
    color:#a177f0;
    display: block;
    font-size: 15px;
    transition: 0.3s;
    text-align: center;
}

.overlay a:hover, .overlay a:focus{
    color:#eac9fd;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a { font-size: 20px;}
    .overlay, .closebtn{
    font-size:40px;
    top:15px;
    right: 35px;

    }
} 
